[submodule "tools/cork"]
	path = tools/cork
	url = https://github.com/fangq/cork.git
[submodule "tools/meshfix"]
	path = tools/meshfix
	url = https://github.com/fangq/meshfix.git
[submodule "tools/tetgen"]
	path = tools/tetgen
	url = https://github.com/ufz/tetgen
[submodule "tools/PoissonRecon"]
	path = tools/PoissonRecon
	url = https://github.com/mkazhdan/PoissonRecon.git
